<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="firebear" translate="label" sortOrder="200">
            <label>Firebear Studio</label>
        </tab>
        <section id="firebear_importexport" translate="label" type="text" sortOrder="1210" showInDefault="1" showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Import/Export</label>
            <tab>firebear</tab>
            <resource>Firebear_PlatformM1::data_migration_settings</resource>
            <group id="source_database" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Database credentials for migration</label>
                <field id="host" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Host</label>
                </field>
                <field id="dbname" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Database Name</label>
                </field>
                <field id="username" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Username</label>
                </field>
                <field id="password" translate="label" type="password" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Password</label>
                </field>
                <field id="m1_prefix" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>M1 database prefix (optional)</label>
                    <tooltip>Add prefix, if it is present in M1 database</tooltip>
                </field>
                <field id="m2_prefix" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>M2 database prefix (optional)</label>
                    <tooltip>Add prefix, if it is present in M2 database</tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
